<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
 
    <session-factory>
 
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/piyush</property>
        <property name="connection.username">piyush</property>
        <property name="connection.password">piyush</property>
         
        <property name="hibernate.default_schema">PIYUSH</property>
 
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
 
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
 
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
 
        <!-- Disable the second-level cache -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
 
        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>
 
        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">create</property>
 
        <mapping class="com.test.hibernate.Address" />
        <mapping class="com.test.hibernate.AvailableDeliveryArea" />
        <mapping class="com.test.hibernate.AvailableTopping" />
        <mapping class="com.test.hibernate.CashInvoice" />
        <mapping class="com.test.hibernate.Crew" />
        <mapping class="com.test.hibernate.Customer" />
        <mapping class="com.test.hibernate.DeliverySlot" />
        <mapping class="com.test.hibernate.Item" />
        <mapping class="com.test.hibernate.OneTimePassword" />
        <mapping class="com.test.hibernate.OnlineOrderInvoice" />
        <mapping class="com.test.hibernate.Order" />
        <mapping class="com.test.hibernate.OrderItems" />
        <mapping class="com.test.hibernate.OrderToppings" />
 
    </session-factory>
 
</hibernate-configuration>