<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:component-scan base-package="com.test" />
	<context:component-scan base-package="com.panipuri" />
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />

		<property name="annotatedClasses">
			<list>
				<value>com.test.hibernate.Address</value>
				<value>com.test.hibernate.AvailableZipcodes</value>
				<value>com.test.hibernate.AvailableTopping</value>
				<value>com.test.hibernate.CashInvoice</value>
				<value>com.test.hibernate.Crew</value>
				<value>com.test.hibernate.Customer</value>
				<value>com.test.hibernate.DeliverySlot</value>
				<value>com.test.hibernate.Item</value>
				<value>com.test.hibernate.OneTimePassword</value>
				<value>com.test.hibernate.OnlineOrderInvoice</value>
				<value>com.test.hibernate.Order</value>
				<value>com.test.hibernate.OrderItems</value>
				<value>com.test.hibernate.OrderToppings</value>
				<value>com.test.hibernate.DailyDeliverySlots</value>
				<value>com.test.hibernate.MasterDeliveryArea</value>
				<value>com.test.hibernate.DeliveryArea</value>
				<value>com.test.hibernate.DiscountInformation</value>
				<value>com.test.hibernate.PartyItemQuantity</value>
				<value>com.test.hibernate.ComboItemQuantity</value>
				<value>com.test.hibernate.DiscountCondition</value>
				<value>com.test.hibernate.DeliverySlotStock</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
								<prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop>
<!-- 				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop> -->
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="hibernate.show_sql">true</prop>
<!-- 				<prop key="hibernate.hbm2ddl.auto">update</prop> -->
			</props>
		</property>
	</bean>
	 <!--<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/piyushpa_panipuri" />
		<property name="username" value="piyushpa_piyush" />
		<property name="password" value="piyush123" />
	</bean>
	-->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver" />
		<property name="url" value="jdbc:derby://localhost:1527/panipuri" />
		<property name="username" value="piyush" />
		<property name="password" value="piyush" />
	</bean>
	<bean id="crewDaoImpl" class="com.test.hibernate.dao.CrewDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="deliverySlotDaoImpl" class="com.test.hibernate.dao.DeliverySlotDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="oderDaoImpl" class="com.test.hibernate.dao.OderDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="oTPDaoImpl" class="com.test.hibernate.dao.OTPDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
		<bean id="itemDaoImpl" class="com.test.hibernate.dao.ItemDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="customerDaoImpl" class="com.test.hibernate.dao.CustomerDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="availableDeliveryAreaDaoImpl" class="com.test.hibernate.dao.AvailableDeliveryAreaDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="discountDaoImpl" class="com.test.hibernate.dao.DiscountDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean
            class="com.panipuri.presentation.viewbuilding.CustomViewResolver">
            
            <property name="order" value="1" />
           
    </bean>

	<mvc:resources mapping="/resources/**" location="/resources/" />

	<mvc:annotation-driven />

</beans>