.table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: middle;
}

.input-group .input-group-btn.quantity-counter {
	width: 39px;
	float: left
}

.input-group .input-number.quantity-counter-input {
	width: 60px;
	float: left;
	height: 28px
}

.cutomColorBg {
	background-image: linear-gradient(white 0, white 100%);
}

.customColorbgBody {
	    background-color: #F3AC1F;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 9999;
	color: white;
	display: inline-block;
}
.customcontent {
	background-color: white;
    border: 5px solid red;
    box-shadow: none;
    padding-left: 15px;
    padding-right: 15px;
}
.pannelfootercustom {
	padding: 0px;
	background-color: red;
	border: 0px;
}
.pannelheadercustom {
	background-image: linear-gradient(red 0,red 100%); 
	color:white;
	border-bottom: 5px solid yellow;
	padding: 10px 15px;
}
.pannelbuttonscustom {
	background-image: linear-gradient(yellow 0,yellow 100%);
    color: black;
    border-radius: 0px;
    border: 0px;
}
.pannelbuttonscustom:hover {
	background-position: 0 0px;
    background-color: yellow;
    border-color: yellow;
    
}
.customFormStyle {
	border: 1px solid #6F8AA5
}

.customrow {
	margin-right: 15px;
	margin-left: 0px;
}

.custombuttontd {
	padding: 6px 6px;
}

.navtabcustom {
	
}
.panel-collapse .collapse .orderSummary {
	
}

.continueToDeliverySummary {
	
}
.continueToVerifySummary {
	
}
.continueToConfirmSummary {
	
}
.placeNewOrderSummary {
	
}
.navtabcustom {
	font-size: 14px;
}
.customformelements {
	box-shadow: none;
    border-radius: 0px;
}
.customformgroup {
	margin-bottom: 15px;
}
.nav-tabs>li>a.customnav {
	   	border-radius: 0px 0px 0 0;	   
    	background-color: red;
    	border: 0px;
   	 	border-radius: 0px;
   	 	color: yellow;
	   
}

.nav-tabs>li.active>a.customnav {
		border-radius: 0px 0px 0 0;	   
    	background-color: yellow;
    	border: 0px;
   	 	border-radius: 0px;
   	 	color: black;
	
	}
@media screen and (max-width: 600px) {
	.panel-collapse .collapse .orderSummary {
	
	}
	.nav li a .navtabcustom {
		padding: 5px;
	}
	.panel-heading a:after {
		font-family: 'Glyphicons Halflings';
		content: "\e114";
		float: right;
		color: #e8e8e8;
	}
	.panel-heading a.collapsed:after {
		content: "\e080";
	}
	.navtabcustom {
		font-size: 12px;
	}
	.nav-tabs>li>a .customnav {
	    padding: 5px;
	    border-radius: 0px 0px 0 0;
	}
}