.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}

.input-group .input-group-btn.quantity-counter{
	width:39px; 
	float:left
}
.input-group .input-number.quantity-counter-input{
	width:60px; 
	float:left; 
	height:28px
}
.cutomColorBg {
	background-image: linear-gradient(to bottom,#286090 0,#286090 100%);
}
.overlay
 {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(0, 0, 0, 0.85);
     z-index: 9999;
     color: white;
     display: inline-block;
 }
 .customFormStyle {
 	border:1px solid #6F8AA5
 }
 .customrow {
 	margin-right: 15px;
    margin-left: 0px;
 }
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #286090; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}